:root {
    --dark-background-color: #0a0a0a;
    --light-background-color: #505050;
    --dark-foreground-color: #000;
    --light-foreground-color: #fff;
    --grey-foreground-color: #303030;
    --accent-color: #ffaa00;
    --general-padding: 2em;
    --general-margin: 1em;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: baseline;
}

*,*::before,*::after {
    box-sizing: border-box;
}

html{
    height: 100%;
    background-color: var(--accent-color);
}

header {
    display: inherit;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: var(--dark-background-color);
}

header h1 {
    font-family: Broadway, Arial, Helvetica, sans-serif;
    color: var(--accent-color);
    text-align: center;
}


a {
    text-decoration: none;
    max-width: 50ch;
}

a:hover {
    color: var(--accent-color);
}

nav {
    width: calc(100vw - 2*var(--general-margin));
    display: inherit;
    align-items: center;
    justify-content: center;
    background-color: var(--light-background-color);
    border-top: 1px solid var(--dark-foreground-color);
    border-bottom: 1px solid var(--dark-foreground-color);
    height: calc(var(--general-padding)*2 + var(--general-margin)*2);
}

nav li {
    display: inline-block;
    margin: var(--general-margin);
}

nav li a{
    background-color: var(--light-background-color);
    color: var(--light-foreground-color);
    padding: var(--general-padding);
    border-radius: 1em;
}

nav li a:hover {
    color: var(--accent-color);
    background-color: var(--dark-background-color);
}


div#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin: calc(var(--general-margin) * 1);
    background-color: var(--grey-foreground-color);
}

div#content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    padding-bottom: 15em;
    width: 100%;
    min-height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(127, 127, 127, 0.2) 50%, rgba(255, 170, 0, 1));
}

div#content h2 {
    flex: 100%;
    margin: var(--general-margin);
    color: var(--accent-color);
    
}

div#content p {
    color: var(--accent-color);
    margin: var(--general-margin);
}

div#valinnat {
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

div#valinnat {
    min-height: calc( var(--general-padding) * 4);
}

input {
    accent-color: var(--accent-color);
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    border: 3px solid var(--light-background-color);
    background: var(--grey-foreground-color);
    box-shadow: 0 0 0 1px rgba(255, 170, 0, 0.5);
    padding: 5px;
    cursor: pointer;
}

input:hover {
    box-shadow: 0 0 0 1px rgba(255, 170, 0, 1);
}

input:checked {
    background: var(--accent-color);
    box-shadow: 0 0 0 1px rgba(255, 170, 0, 1);
}

label {
    color: var(--accent-color);
    margin: var(--general-margin);
    line-height: 5em; 
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: var(--general-margin);
}

table {
    flex: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--accent-color);
}

td {
    margin: var(--general-margin);
    padding: calc(var(--general-padding) / 2);
}

button {
    margin: var(--general-margin);
    padding: 1em;
    flex: 100%;
    width: 20vw;
    min-height: 10vh;
    border: 5px solid var(--dark-background-color);
    border-radius: 5em;
    background-color: var(--light-background-color);
    color: var(--light-foreground-color);
}

button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
    background-color: var(--grey-foreground-color);
    cursor: pointer;
}

h3 {
    color: var(--accent-color);
    padding: var(--general-padding);
    margin: var(--general-margin);
}

h4 {
    color: var(--accent-color);
    min-height: calc(3 * var(--general-padding));
}

section#peli {
    background-color: var(--grey-foreground-color);
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    margin: var(--general-margin);
    border: 3px solid var(--accent-color);
    padding: var(--general-padding);
    padding-bottom: calc(var(--general-padding) * 2);
    min-height: calc(12 * var(--general-padding));
    flex: 100%;
}

progress[value] {
    -webkit-appearance:none;
    -moz-appearance:none;        
    appearance: none;
    color: var(--accent-color);
    border: 3px solid var(--accent-color);
    border-radius: 15px;
    background-color: var(--dark-background-color);
    width: 100%;
}

progress[value]::-moz-progress-bar {
    border-radius: 0px;
    background: var(--accent-color);
}

progress[value]::-webkit-progress-bar {
    border-radius: 15px;
    background: var(--dark-background-color);
}

progress[value]::-webkit-progress-value {
    border-radius: 0px;
    background: var(--accent-color);
}

footer {
    background-color: var(--dark-background-color);
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: calc(100vw - (2 * var(--general-margin)));
}

footer p {
    align-content: center;
    text-align: center;
    padding: var(--general-padding);
    color: var(--light-foreground-color);
}

@media only screen and (max-width: 1200px) {
    button {
        width: 40vw;
    }
}

@media only screen and (max-width: 900px) {
    div#container {
        margin: 0;
    }

    nav {
        height: calc((var(--general-padding)*2 + var(--general-margin)*2) * 2);
        width: 100vw;
    }

    nav li {
        display: block;
        text-align: center;
    }
    nav li a {
        padding: calc(var(--general-padding) / 4);
        border-radius: 0.5em;
    }

    button {
        width: 70vw;
        font-size: small;
        margin: calc( var(--general-margin) / 4);
        padding: calc(var(--general-padding) / 3);
        min-height: 10vh;
    }

    section#peli{
        padding: calc(var(--general-padding) / 2);
        padding-bottom: var(--general-padding);
    }

    footer {
        width: 100vw;
    }

}