:root {
    --dark-background-color: #0a0a0a;
    --light-background-color: #505050;
    --dark-foreground-color: #000;
    --light-foreground-color: #fff;
    --grey-foreground-color: #303030;
    --accent-color: #ffaa00;
    --general-padding: 2em;
    --general-margin: 1em;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: baseline;
}

*,*::before,*::after {
    box-sizing: border-box;
}

html{
    height: 100%;
    background-color: var(--accent-color);
}

header {
    display: inherit;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: var(--dark-background-color);
}

header h1 {
    font-family: Broadway, Arial, Helvetica, sans-serif;
    color: var(--accent-color);
    text-align: center;
}


a {
    text-decoration: none;
    max-width: 30ch;
}

a:hover {
    color: var(--accent-color);
}

nav {
    width: calc(100vw - 2*var(--general-margin));
    display: inherit;
    align-items: center;
    justify-content: center;
    background-color: var(--light-background-color);
    border-top: 1px solid var(--dark-foreground-color);
    border-bottom: 1px solid var(--dark-foreground-color);
    height: calc(var(--general-padding)*2 + var(--general-margin)*2);
}

nav li {
    display: inline-block;
    margin: var(--general-margin);
}

nav li a{
    background-color: var(--light-background-color);
    color: var(--light-foreground-color);
    padding: var(--general-padding);
    border-radius: 1em;
}

nav li a:hover {
    color: var(--accent-color);
    background-color: var(--dark-background-color);
}

h3#Katsottavissa {
    color: var(--light-foreground-color);
    margin-top: calc(2 * var(--general-margin));
}

ul#lista {
    align-items: center;
    justify-items: center;
    padding: var(--general-padding);
}

ul#lista li {
    color: var(--light-foreground-color);
    padding: var(--general-padding) var(--general-padding) calc(var(--general-padding)*3) calc(var(--general-padding)*5);
    /* reset styles (optional): */
    list-style: none;
    margin: 0;
    
}

div#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: calc(var(--general-margin) * 1);
    background-color: var(--grey-foreground-color);
}

div#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10em;
    margin: var(--general-margin);
    width: 100%;
    
    
    
    
}

div#content h1 {
    flex: 100%;
    margin: var(--general-margin);
}

div#content a {
    color: var(--light-foreground-color);
    font-size: x-large;
    text-align: center;
}

div#content a:hover{
    color: var(--accent-color);
}

button {
    margin: var(--general-margin);
    padding: 1em;
    flex: 100%;
    width: 20vw;
    border: 5px solid var(--dark-background-color);
    border-radius: 5em;
    background-color: var(--light-background-color);
    color: var(--light-foreground-color);
}

button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
    background-color: var(--grey-foreground-color);
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: var(--general-margin);
}

img {
    min-height: 600px;
    max-height: 600px;
    margin: var(--general-margin);
}

footer {
    background-color: var(--dark-background-color);
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: calc(100vw - (2 * var(--general-margin)));
}

footer p {
    align-content: center;
    text-align: center;
    padding: var(--general-padding);
    color: var(--light-foreground-color);
}

@media only screen and (max-width: 1200px) {
    button {
        width: 40vw;
    }
}

@media only screen and (max-width: 900px) {
    div#container {
        margin: 0;
    }

    nav {
        height: calc((var(--general-padding)*2 + var(--general-margin)*2) * 2);
    }

    nav li {
        display: block;
        text-align: center;
    }
    nav li a {
        padding: calc(var(--general-padding) / 4);
        border-radius: 0.5em;
    }

    button {
        width: 45vw;
        margin: 0;
        margin-left: var(--general-margin);
    }

    footer {
        width: 100vw;
    }

}